.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  padding: 0;
}

.head-logo-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  flex-wrap: wrap-reverse;
}

div.social_links {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  a.social_link {
    margin: 10px 15px 5px 0;

    img.social_img {
      width: 30px;

      @media (min-width: $screen_phone) {
        width: 40px;
      }

      @media (min-width: $screen_tablet) {
        width: 60px;
      }
    }

    img.social_img_youtube {
      height: 30px;

      @media (min-width: $screen_phone) {
        height: 40px;
      }

      @media (min-width: $screen_tablet) {
        height: 60px;
      }
    }
  }
}

div.center-logo {
  text-align: center;

  @media (min-width: $screen_phone) {
    text-align: left;
    margin: 20px 0;
  }

  img.logo {
    width: 300px;

    @media (min-width: $screen_tablet) {
      width: 600px;
    }
  }
}

.navbar-desktop {
  display: none;

  @media (min-width: $navbar_switcher) {
    display: block;
    margin-bottom: 70px;

    #menu-primario {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-direction: row;

      li {
        a {
          font-family: "bite_bullet", serif;
          font-size: 30px;
          color: map-get($map: $theme-colors, $key: primary);
          transition: 300ms all;
          display: inline-block;
        }
      }

      li.current_page_item a {
        font-size: 33px;
        color: map-get($map: $theme-colors, $key: secondary);
        position: relative;
      }

      li:hover a {
        color: map-get($map: $theme-colors, $key: hover);
      }

      ul.sub-menu {
        display: none;
        position: absolute;
        width: 300%;
      }

      li:hover ul.sub-menu {
        display: block;
        padding: 0;

        li {
          list-style-type: none;

          a {
            font-size: 24px;
            color: map-get($map: $theme-colors, $key: primary);
          }

          &:hover a {
            color: map-get($map: $theme-colors, $key: hover);
          }
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;

  @media (min-width: $navbar_switcher) {
    display: none;
  }

  .navbar-toggler {
    order: 0;
    align-self: flex-start;
    border: 2px solid gray;

    .navbar-toggler-icon {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(185,189,192,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex: 1;

    li a {
      font-family: "bite_bullet", serif;
      font-size: 24px;

      @media (min-width: $screen_phone) {
        font-size: 30px;
      }
    }

    li.current_page_item a {
      font-size: 33px;
      color: map-get($map: $theme-colors, $key: secondary);
    }

    li ul.sub-menu {
      li {
        list-style-type: none;

        a {
          font-size: 16px;

          @media (min-width: $screen_phone) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.breadcrumb_last,
#breadcrumbs a {
  font-family: "bite_bullet", serif;
  font-size: 20px;
  opacity: 0.4;
}
