html,
body {
  overflow-x: hidden;
  color: map-get($map: $theme-colors, $key: text);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-align: center;
  color: map-get($map: $theme-colors, $key: primary);
}

img.bw {
  filter: grayscale(100%);
  transition: 300ms all;

  &:hover {
    filter: grayscale(0%);
  }
}

img.width-250 {
  width: 250px !important;
  max-width: 100%;

  @media (max-width: $screen_phone) {
    max-width: 90%;
  }

  @media (min-width: $screen_tablet) {
    width: 500px !important;
  }
}

.center-content {
  margin: 50px auto;
  text-align: center;

  ul,
  li {
    text-align: justify;
  }

  p {
    margin: 50px auto;
    text-align: justify;
  }

  p.autore_citazione,
  p.citazione {
    text-align: right !important;
    margin-right: 5%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  h1 {
    font-size: 40px;
    margin: 50px auto;

    @media (min-width: $screen_tablet) {
      font-size: 70px;
    }
  }

  h2 {
    font-size: 35px;
    margin-top: 200px;

    @media (min-width: $screen_tablet) {
      font-size: 55px;
    }
  }

  h3 {
    font-size: 30px;

    @media (min-width: $screen_tablet) {
      font-size: 40px;
    }
  }
}

.end_page_buttons_formazione {
  height: 300px;

  @media (max-width: $screen_tablet) {
    height: 700px;

    div {
      margin: 10px auto;
    }
  }

  :nth-child(1) {
    transition: all 300ms;
    background-image: url(../../images/tasto-progetto-nelle-scuole.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :nth-child(2) {
    transition: all 300ms;
    background-image: url(../../images/tasto-laboratorio-di-teatro.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :nth-child(3) {
    transition: all 300ms;
    background-image: url(../../images/tasto-progetti-nel-sociale.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :nth-child(1):hover {
    background-image: url(../../images/tasto-progetto-nelle-scuole-mouse.png);
    cursor: pointer;
  }

  :nth-child(2):hover {
    background-image: url(../../images/tasto-lab-di-teatro-mouse.png);
    cursor: pointer;
  }

  :nth-child(3):hover {
    background-image: url(../../images/tasto-progetto-nel-sociale-mouse.png);
    cursor: pointer;
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: none !important;
  }
}
